/* Backgrounds */
.bg-clear {
    background: rgba(0,0,0,.85);
}

.bg-welcome {
    /*background: url('/assets/img/groovepaper.png') repeat transparent;*/
    background: rgba(95, 219, 224, .9);
}

.bg-intro {
    background: rgba(16, 132, 192, 0.95);
}

.bg-portfolio {
    background: url('/assets/img/pinstripe.png') repeat transparent;
}

.bg-skills {
    background: url('/assets/img/groovepaper.png') repeat transparent;
}

.bg-contact {
    background: url('/assets/img/navy-blue.png') repeat transparent;
}

.bg-footer {
    background: url('/assets/img/noisy_net.png') repeat transparent;
}

/* Spacing */
.space-bottom {
    margin-bottom: 50px;
}

.list-inline {
    word-spacing: 30px;
}

