/* Global Styles */
html,
body {
  height: 100%;
  width: 100%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/*************
 * Side Menu *
 *************/
#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: rgba(0,0,0,.75);
  font-size: 16px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #d3d3d3;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255, 0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 20px 20px 0 0;
}

/**************************
 * Full Page Image Header *
 **************************/
/* Intro */
.intro {
  display: table;
  height: 100%;
  width: 100%;
}

/* Services */
.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  margin-top: 20px;
  border: 3px solid #444444;
  border-radius: 50%;
  display: inline-block;
  font-size: 50px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
}

i.service-icon:hover {
  color: #29AFE8;
  border: 3px solid #29AFE8;
}

/* Portfolio */
.header-fill {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio,
.img-thumbnail {
  margin: 0 auto;
  cursor: pointer;
}


/***************
 * Backgrounds *
 ***************/
.bg-clear { background: rgba(0,0,0,.85); }
.bg-welcome { background: url('../img/bg/dark_mosaic.png') repeat; }
.bg-about { background: url('../img/bg/binding_dark.png') repeat; }
.bg-portfolio { background: url('../img/bg/dark_denim.png') repeat; }
.bg-skills { background: url('../img/bg/pixel_weave.png') repeat; }
.bg-projects { background: url('../img/bg/noisy_net.png') repeat; }
.bg-contact { background: url('../img/bg/classy_fabric.png') repeat; }
.bg-footer { background: url('../img/bg/binding_dark.png') repeat; }


/***********
 * Spacing *
 ***********/
.container-center {width: 50%; margin-left: auto; margin-right: auto;}
.space-bottom {margin-bottom: 50px;}
.bottom-40 {margin-bottom: 40px;}
.bottom-100 {margin-bottom: 100px;}
.list-inline {word-spacing: 30px;}


/**************
 * Typography *
 **************/
h1, h2, h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    letter-spacing: 3px;
    color: #fcfcfc;
    cursor: default;
    margin: auto;
}

h4 {
    font-family: 'Alegreya Sans SC', sans-serif;
    cursor: default;
    font-weight: 700;
}

h4 a {color: #bbbbbb;}

body {font-family: 'Alegreya Sans SC', sans-serif;}

p, blockquote {font-family: 'Roboto Slab', serif;}

blockquote {
  background: rgba(60, 71, 81, 0.2);
  border: 1px dashed #888;
}

p {margin-bottom: 20px;}
hr {border-color: #999999;}

.fa {
    display: inline;
    margin-right: 3px;
}

.btn-primary {
    color: #fafafa;
    border: none;
}

.social-links a,
.social-links a:hover {
    color: #fafafa;
    text-decoration: none;
}

.text-white { color: #f1f1f1; }
.text-dark { color: #3d3d3d; }
.text-gray { color: #cccccc; }
.text-justify { text-align: justify;}
.text-left {text-align: left;}
.text-center {text-align: center;}
#contact-info {letter-spacing: 1px;}


/**************
 * Responsive *
 **************/
@media (max-width: 1100px) {
  .container-center {width: 80%;}
}

@media (max-width: 680px) {
  /* Containers */
  .container-center {width: 98%;}
  .vert-text h1 {font-size: 2.8em}
  .col-xs-offset-2 {margin-left: 0;}
  .col-xs-4 {width: 100%;}
  /* Typography */
  h2 {font-size: 1.5em}
  h3, h4 {font-size: 1.2em}
  i.service-icon {display: none}
  /* Footer */
  .fa-5x {font-size: 3.5em;}
  .list-inline {word-spacing: 10px;}
}
