h1, h2, h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    letter-spacing: 3px;
    color: #fcfcfc;
    cursor: default;
    margin: auto;
}

h4 {
    font-family: 'Alegreya Sans SC', sans-serif;
    cursor: default;
    font-weight: 700;
}

h4 a {color: #cccccc;}

body {font-family: 'Alegreya Sans SC', sans-serif;}

p, blockquote {font-family: 'Roboto Slab', serif;}

blockquote {background: rgba(90,90,90,.20); border-left: 3px solid #eee;}

hr {border-color: #999999;}

.fa {
    display: inline;
    margin-right: 3px;
}

.btn-primary {
    color: #fafafa;
    border: none;
}

.social-links a,
.social-links a:hover {
    color: #fafafa;
    text-decoration: none;
}

.text-white { color: #f1f1f1; }
.text-dark { color: #3d3d3d; }
.text-justify { text-align: justify;}
.text-left {text-align: left;}
.text-center {text-align: center;}
